{% extends "base.html"%}

{%block title%} Buscar Estudiantes {%endblock%}

{%block content%}

<div class="container mt-5">
    <h1 class="mb-4"></h1>

    <div class="card p-4 shadow-sm">
        <form>
            <div class="col-md5 mb-3">
                <input
                type="text"
                class="form-control"
                placeholder="Nombre o apellido">
            </div>

            <div class="col-md-4 mb-3">
                <select class="form-select">
                    <option selected>Seleccionar curso</option>
                    
                    <option>1A</option>
                    
                    <option>1B</option>
                    
                    <option>1C</option>
                </select>
            </div>

            <div class="col-md-3 mb-3">
                <button>
                    <div class="btn btn-primary w-100">
                        Buscar
                    </div>
                </button>
            </div>

        </form>
    </div>

    <div class="card mt-4 shadow-sm">
        <div class="card-body">
            <table class="table table.hover">
                <thead>
                    <tr>
                        <th> Nombre</th>
                        <th> Apellido</th>
                        <th> Curso</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td>Juan</td>
                        <td>Pérez</td>
                        <td>1B</td>
                    </tr>
                    <tr>
                        <td>maria</td>
                        <td>gonzáles</td>
                        <td>1C</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>

{%endblock%}