<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="container-sm my-2" style="width: 500px;">
    <h1 class="text-center fw-bold mt-5">Proyecto IS2</h1>
    <div class="text-center">
        <img src="http://www.inf.udec.cl/~lilian/Workshop/logoDIICC.gif" style="width: 150px; height: auto; margin-bottom: 10px;">
    </div>

    <form method="post" action="{{ url_for('auth.signin') }}">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" name="email" id="email">
            <label for="email">Correo Electrónico</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password" id="password">
            <label for="password">Contraseña</label>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}

        <button name="signinstudent" type="submit" class="btn btn-primary btn-lg w-100 mt-3">Iniciar sesión</button>
    </form>
</div>
{% endblock %}