<!-- COMPARTIDO POR:
    - Reportador: nuevoReporte()
    - Encargado de Convivencia: nuevoReporte()
-->
<!-- Request POST retorna:
  ('id_estudiantes_involucrados' : Lista inyectada por seleccionar_estudiantes.js,
  ('categoria', <fisico/verbal>),
  ('descripcion', <string>),
  ('respuesta_inmediata', <string>)]
-->
<!-- Es decir, si desde Flask quieren acceder a los id's de todos los involucrados enviados, hagan lista = request.form.getlist('id_estudiantes_involucrados'). -->
{% extends "base.html"%}

{% block title %}Reportar un incidente{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Reportar nuevo incidente</h1>

    <div class="row">
      <!-- Rellenar todo el lado izquierdo de la página con el buscador de estudiantes, mediante la class "column" de Bootstrap -->
      <div class="col-lg-5">
        <!-- Parche curita para desacoplar botones "+" del buscador -->
        {% set showAddEstudianteButton = True %}
        {% include "shared_components/buscar_estudiantes_lista.html" %}
      </div>
            
      <div class="col-lg-5">
        <!-- Estudiantes seleccionados no están dentro de un FORM en html, pero se inyectan a uno mediante el archivo 'seleccionar_estudiantes.js' -->
        <div class="card shadow-sm border-primary mb-4">
            
          <div class="card-header bg-primary text-white fw-bold">
            Estudiantes involucrados
          </div>
            
          <ul class="list-group list-group-flush" id="involvedList">
            <li class="list-group-item text-muted text-center py-3" id="emptyListMsg">
              No hay estudiantes seleccionados
            </li>
          </ul>
        </div>

        <form method="POST" action="" id="incidenteForm" class="antecedenteForm">
          <div class="card shadow-sm p-4">

            <h5 class="mb-3">Detalles del Incidente</h5>

            <div class="mb-3">
                <label class="form-label fw-bold">Categoría</label>
                <select class="form-select" name="categoria_incidente" required>
                    <option value="" selected disabled>Seleccione una categoría...</option>
                    <option value="fisico">Físico</option>
                    <option value="verbal">Verbal</option>
                </select>
            </div>

            <div class="mb-4">
                <label class="form-label fw-bold">Descripción</label>
                <textarea class="form-control" name="descripcion" rows="4" placeholder="Describa los hechos" required></textarea>
            </div>

            <div class="mb-4">
                <label class="form-label fw-bold">Respuesta inmediata tomada</label>
                <textarea class="form-control" name="respuesta_inmediata" rows="4" placeholder="¿Qué hizo en respuesta al incidente?" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-lg w-100">Registrar Incidente</button>
          </div>

        </form>
      </div> 
    </div>
  </div>
</div>
{% block scripts %}
<script src="{{ url_for('static', filename='js/seleccionar_estudiantes.js') }}"></script>
{% endblock %}

{% endblock %}