<!-- Request form retorna:
  'tipoAntecedente' : Uno de 'observacion' o 'diagnostico'
    Si 'tipoAntecedente' == 'diagnostico', retorna:
        'diagnosticoCondicion' : <str>
        'diagnosticoDescripcion' : <str>
    Si 'tipoAntecedente' == 'observacion', retorna:
        'observacionDescripcion' : <str>
    donde <str> es un user input escrito.
  'id_estudiantes_involucrados' : Lista. Inyectado mediante seleccionar_estudiantes.js.
                                  El largo máximo depende de la variable window.MAX_STUDENTS,
                                  que por defecto tiene valor 'infinito' en seleccionar_estudiantes.js
-->
{% extends "base.html"%}

{% block title %}Lista de Estudiantes{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Registrar un nuevo antecedente personal</h1>

  <div class="row">

    <!-- Columna 1: Buscador de estudiantes -->
    <div class="col-lg-5">
      {% set showAddEstudianteButton = True %}
      {% include "shared_components/buscar_estudiantes_lista.html" %}
    </div>

    <!-- Columna 2: Formularios de Diagnóstico / Observación -->
    <div class="col-lg-5">
      <!-- Para el caso de Orientador, queremos que Diagnóstico y Observación sólo acepten 1 estudiante. -->
      <!-- Estudiantes seleccionados no están dentro de un FORM en html, pero se inyectan a uno mediante el archivo 'seleccionar_estudiantes.js' -->
      <div class="card shadow-sm border-primary mb-4">

        <div class="card-header bg-primary text-white fw-bold">
          Estudiante seleccionado
        </div>

        <ul class="list-group list-group-flush" id="involvedList">
          <li class="list-group-item text-muted text-center py-3" id="emptyListMsg">
            No hay un estudiante seleccionado
          </li>
        </ul>
      </div>

      <div class="card shadow-sm p-4">

        <!-- Botones para gatillar pop-ups de formularios a rellenar -->
        <div class="d-grid gap-3">

          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#diagnosticoModal">
            Registrar nuevo Diagnóstico
          </button>

          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#observacionModal">
            Registrar nueva Observación
          </button>

        </div>

        <!-- FORM para ENVIAR DIAGNOSTICO -->
        <form method="POST" id="diagnosticoForm" class="antecedenteForm">

          <div class="modal fade" id="diagnosticoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <div class="modal-header">
                  <h5 class="modal-title" id="diagnosticoModalLabel">Detalles del diagnóstico</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Campos a registrar en Diagnostico -->
                <div class="modal-body">

                  <div class="mb-4">
                    <label class="form-label fw-bold">Condición Mental o de Personalidad</label>
                    <textarea class="form-control" name="diagnosticoCondicion" rows="4"
                      placeholder="Indique el diagnóstico detectado" required></textarea>
                  </div>

                  <div class="mb-4">
                    <label class="form-label fw-bold">Descripción</label>
                    <textarea class="form-control" name="diagnosticoDescripcion" rows="4"
                      placeholder="Describa su razonamiento" required></textarea>
                  </div>

                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" name="tipoAntecedente" value="diagnostico" class="btn btn-success">Guardar y
                    enviar</button>
                </div>

              </div>
            </div>
          </div>
        </form>

        <!-- FORM para ENVIAR OBSERVACION -->
        <form method="POST" id="observacionForm" class="antecedenteForm">

          <div class="modal fade" id="observacionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <div class="modal-header">
                  <h5 class="modal-title" id="observacionModalLabel">Detalles de la observación</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Campos a registrar en Observacion -->
                <div class="modal-body">

                  <div class="mb-4">
                    <label class="form-label fw-bold">Descripción</label>
                    <textarea class="form-control" name="observacionDescripcion" rows="4"
                      placeholder="Describa un antecedente relevante en el contexto de la convivencia escolar"
                      required></textarea>
                  </div>

                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" name="tipoAntecedente" value="observacion" class="btn btn-success">Guardar y
                    enviar</button>
                </div>

              </div>
            </div>
          </div>
        </form>
    </div>
  </div>

</div>
</div>

{% block scripts %}
<script>
  window.MAX_STUDENTS = 1;
</script>
<script src="{{ url_for('static', filename='js/seleccionar_estudiantes.js') }}"></script>
{% endblock %}

{% endblock %}