{% extends "base.html"%}

{%block title%} Inicio {%endblock%}

{%block content%}
<div class="container">
    <div class="row g-3 my-4">
        <div class="col-sm-6">
            <a href="{{url_for('reportador.nuevoReporte')}}" class="btn btn-primary btn-lg w-100 py-4 fs-5 fw-semibold shadow-sm d-flex flex-column align-items-center justify-content-center">
                Reportar nuevo incidente
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{{url_for('reportador.misReportes')}}" class="btn btn-outline-secondary btn-lg w-100 py-4 fs-5 fw-semibold shadow-sm d-flex flex-column align-items-center justify-content-center">
                Ver mis reportes
            </a>
        </div>
    </div>

  <div class="my-3 p-3 bg-body rounded shadow-sm border text-center">
    <h6 class="border-bottom pb-2 mb-0 fw-bold text-secondary text-start">Actualizaciones recientes</h6>

    <p class="text-muted"></p>
    <p class="text-muted">La visualización de actualizaciones recientes se encuentra en desarrollo para una próxima versión.</p>
    <img src="{{ url_for('static', filename='images/wip.png') }}" alt="Trabajo en progreso" class="img-fluid mt-3 mb-3" style="max-height: 200px; width: auto;">
  </div>
</div>

{%endblock%}
